.dashboard-container {
    // border: 2px solid red;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.dashboard-left-container {
    // border: 2px solid red;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 10px;
}
.dashboard-right-container {
    border: 2px solid blue;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}