.trackermain-container {
    border: 3px solid rgb(0, 255, 115);
    background-color: rgba(163, 174, 174, 0.627);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
}

.trackermain-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.trackermain-button-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.trackermain-button {
    border: black;
    background: white;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background: rgba(0, 0, 0, 0.343);
        color: white;
    }
}

.trackermain-button2 {
    border: black;
    background: white;
    border-radius: 15px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background: rgba(0, 0, 0, 0.343);
        color: white;
    }
}

.trackermain-button-text {
    // border: 1px solid red;
}