#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App {
  // border: 2px solid red;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 40px);
  background: url(/public/background01.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

.inputField {
  // border: 2px solid red;
  -moz-appearance: textfield;
  outline: none;
  /* height: 48px; */
  padding: 8px 8px 8px 8px;
  align-content: right;
  text-align: right;
}